<div class="main-content-section">
      <div class="container">
        <div class="left-side">
          <div class="white-bg-section">
            <h2>World conflicts. Personal stories.</h2>
            <p>Throughout history, millions of courageous men and women have served and protected their country in times of conflict. Were your ancestors among them? It’s never been easier to find out on Ancestry.com, the world’s largest online collection of family history resources, including millions of military records spanning from before the Revolutionary War all the way up to Vietnam.</p>
            <img ng-src="/style/images/inner-img.jpg" alt="" >
            <p>Search through enlightening historical documents from every major U.S. war from the American Revolution through Vietnam, including draft registration cards, veterans’ gravesites, soldier pension indexes, enlistment records, muster rolls and much more.</p>
            <div class="button-section">
              <a class="btn btn-green fancybox"  fancybox ng-click="openFancybox('pop_up.html')" >SEARCH ALL MILITARY RECORDS</a>
            </div>
          </div>
        </div>
        <div class="right-sidebar">
          <div class="white-bg-section">
            <h3>Featured Collections</h3>
            <ul>
              <li><a href="#">U.S. World War II Army Enlistment Records</a></li>
              <li><a href="#">U.S. Civil War Soldiers, 1861–1865</a></li>
              <li><a href="#">WWII U.S. Navy Muster Rolls, 1938–1949</a></li>
              <li><a href="#">U.S. World War II Draft Registration Cards, 1942</a></li>
              <li><a href="#">World War I Draft Registration Cards</a></li>
              <li><a href="#">U.S. Marine Corp Muster Rolls, 1798–1958</a></li>
            </ul>
            <a class="btn btn-gray" ng-click="meep.login_page()">SEE ALL COLLECTIONS </a><p class="note">*api page</p>
          </div>
          <div class="white-bg-section off-white">
            <h3>Let us help you discover your story</h3>
            <p>Begin your free family tree with a few simple facts. We’ll help you discover a lot more. Start your tree by subscribing today for a free trial.</p>
            <a ng-click="meep.message_page()"class="btn btn-gray">SUBSCRIBE TODAY</a><p class="note">*message page</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-nav">
        <ul>
          <li>© 1997-2015 Ancestry</li>
          <li><a href="#">Corporate Information</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms and Conditions</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
    </div>

